Debug
opengl-radiosity.v12.suo
opengl-radiosity/Debug
Debug/opengl-radiosity.exe
Debug/opengl-radiosity.ilk
Debug/opengl-radiosity.pdb
opengl-radiosity.sdf
opengl-radiosity.opensdf
Performance*.psess
